/* These are for the "Welcome to... Stranger's Things at the top of the page */

#welcome-one {
    text-align: center;
}

#welcome-two {
    text-align: center;
}


/* This is for the nav bar and its links */
#nav {
    display: flex;
    justify-content: center;
}

.nav-link {
    padding: 5px;
}