* {
    font-family: 'Oswald', sans-serif;
}

body {
    padding-top: 150px;
    padding-bottom: 80px;
}

.header-fixed, .footer-fixed {
    width: 100%;
    position: fixed;
    padding: 10px;
    color: #FFFFFF;
}

.header-fixed {
    background-color: #1FAB96;
    top: 0;
}

.footer-fixed {
    background-color: #437A72;
    bottom: 0;
}

.header-title {
    text-align: left;
    font-size: 36px;    
}

/* This is for the nav bar and its links */
.nav {
    display: flex;
    justify-content: right;
    margin-right: 30px;
}

.nav-link {
    padding: 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content {
    padding: 2px 16px;
}

.posts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.form {
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 15px;
    max-width: 350px;
    text-align: center;
}

.account-form-button-container {
    padding: 15px;
}

.account-form-title {
    text-align: center;
}

.account-form-label {
    font-size: 20px;
}

.current-user {
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 15px;
    max-width: 350px;
    text-align: center;
}

.new-post-link-cont {
    width: 100%;
    text-align: center;
    padding: 15px;
}

.new-post-link {
    background-color: rgb(67, 128, 50);
    color: white;
    padding: 15px 32px;
    font-size: 28px;
}

.comments-container {
    text-align: center;
}

.posts-container {
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 15px;
    text-align: center;
}

.messages-container {
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 15px;
    max-width: 350px;
    text-align: center; 
}

.search-bar {
    text-align: center;
}

.search-bar-cont {
    text-align: center;
    padding: 10px;
}

.profile-posts-container {
    float: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 15px;
    max-width: 350px;
    text-align: center; 
}

.profile-messages-container {
    float: right;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 15px;
    max-width: 350px;
    text-align: center; 
}

.search-bar {
    text-align: center;
}

.search-bar-cont {
    text-align: center;
    padding: 10px;
}